/***  Buttons ***/
button{
  color: white;
  transition-duration: 0.5s;
  cursor: pointer;
  text-align: center;
  border: none;
}

button i{
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
}

.submitButton {
  background-color: #2d862d;
  width: 17%;
  height: 100%;
  margin-right: 8px;
  margin-bottom: -8px;
}

.submitButton:hover {
  background-color: #40bf40;
}

.submitButton:active {
  background-color: #9fdf9f;
  transition-duration: 0.1s;
}

#task-running-text p {
  font-size: 16px;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
  border: none;
}

button:disabled {
  color: transparent;
}

#stop-task:disabled {
  background-color: #ccc;
}

#step-back, #step-next{
  width: 35%;
  height: 100%;
  background-color: #aaa;
}

#step-back:hover, #step-next:hover {
  background-color: #ccc;
}

#start-task, #stop-task, #task-success, #task-failed {
  width: 50%;
  height: 100%;
  background-color: #383838;
}

#start-task:hover, #stop-task:hover, #task-success:hover, #task-failed:hover, #finish-vorabfragebogen-button:hover, #finish-sus-button:hover {
  background-color: #ccc;
}

#start-task:active, #stop-task:active, #task-success:active, #task-failed:active, #finish-vorabfragebogen-button:active, #finish-sus-button:active {
  background-color: #eee;
  transition-duration: 0.1s;
}

#start-task, #task-success {
  margin-right: 5px;
}

#stop-task, #task-failed {
  margin-left: 5px;
}

#step-back:active, #step-next:active {
  background-color: #eee;
  transition-duration: 0.1s;
}


#task-running-text {
  width: 50%;
  color: white;
  background-color: transparent;
}

.finish-button p{
  color: black;
}

/*https://html-online.com/articles/blinking-text-css-animation/*/
.blinking{
  animation:blinkingText 2s infinite;
}

@keyframes blinkingText{
    0%{     color: white;    }
    50%{    color: transparent; }
    100%{   color: white;    }
}
